input{
  background-color: #000;
  color: #fff;
  text-align: right;
  width: 250px;
  height: 25px;
  font-size: 17px;
}

button{
  background-color: #c0c0c0;
  width: 59px;
  height: 20px;
  border-radius:6px;
}

.button-big button{
  width: 125px;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}

